// ******
// COLORS
// ******

$main-color: #1c2f46;
$secondary-color: #fff;
$accent-color: #d69d15;


// *****
// FONTS
// *****
$main-font: 'Bitter', serif;
$secondary-font: 'Arial';
$main-font-color: #1c2f46;
$secondary-font-color: #fff;





