// *****
// CARDS
// *****

.card-row {
	text-align: center;
	padding: 10vh 0 0 0;
	margin-left: 6vw;
	margin-right: 5vw;
	h1 {
		font-family: $main-font;
		color: $main-font-color;
		font-size: 3.2em;
	}
	.card {
		width: 25vw;
		padding: 26px 35px;
		border: 1px solid #d0d0d0;
		border-radius: 3px;
		.card-upper {
			margin-top: 24px;
			transition: 0.4s ease;
			i {
				font-size: 4em;
				color: $accent-color;
			}
			.card-title {
				font-family: $main-font;
				color: $main-font-color;
				font-size: 1.8em;
			}
		}
		.border-container {
			width: 50px;
			border-bottom: 2px solid $accent-color;
			margin: 0 auto;
			transition: 0.4s ease;
		}
		.card-text {
			font-family: $secondary-font;
			color: $main-font-color;
			font-size: 1.2em;
			padding-top: 2.5vh;
		}
	}
	.card:hover {
		.card-upper {
			margin-top: 12px;
			margin-bottom: 22px;
			transition: 0.4s ease;
		}
		.border-container {
			width: 200px;
			transition: 0.4s ease;
		}

	}
}


// **********
// WHY US BOX 
// **********

.why-us {
	height: 910px;
	padding-top: 75px;
	margin-top: 10vh;
	background-color: lighten($main-color, 70%);
	.why-us-content {
		height: 650px;
		margin-top: 30px;
		padding-top: 30px;
		background-color: $main-color;
		border-radius: 3px;
		.why-us-inner {
			height: 590px;
			width: 95%;
			border: 1px solid rgba(255, 255, 255, 0.2);
			border-radius: 3px;
			margin: 0 auto;
			h1 {
				text-align: center;
				font-family: $main-font;
				color: $secondary-font-color;
				font-size: 3.2em;
			}
			.icon-ul {
				text-align: center;
				li {
					margin-top: 60px;
					margin-left: -20px;
				}
			}
			ul {
				list-style-type: none;
				padding: 0;
				li {
					margin-top: 5vh;
					i {
						color: $accent-color;
						font-size: 3.7em;
					}
					h2 {
						font-family: $main-font;
						color: $secondary-font-color;
						font-size: 1.5em;
					}
					p {
						font-family: $secondary-font;
						color: rgba(255, 255, 255, 0.5);
					}
				}
			}
			.button-row {
				text-align: center;
					button {
						font-family: $main-font;
						color: $secondary-font-color;
						background-color: $accent-color;
						border: 1px solid $accent-color;
						border-radius: 3px;
						padding: 15px;
						margin-top: 2.5vh;
						font-size: 1.5em;
						transition: 0.2s ease;
					}
					button:hover {
						background-color: lighten($accent-color, 10%);
						border-color: lighten($accent-color, 10%);
						transition: 0.2s ease;
					}
				}
			}
		}
	}


// ***********************
// MEET OUR TALENTED STAFF
// ***********************

.meet-us {
	.meet-us-title {
		text-align: center;
		padding-top: 5vh;
		h1 {
			font-family: $main-font;
			color: $main-font-color;
			font-size: 3.2em;
		}

	}
	.meet-us-content {
		padding: 0 3vw;
		margin-bottom: 15vh;
		.name-box {
			position: relative;
			text-align: center;
			font-family: $secondary-font;
			color: $secondary-font-color;
			height: 140px;
			width: 234px;
			background-color: $main-color;
			margin-top: -100px;
			margin-left: 22px;
			padding: 1vh 1vw;
			border-radius: 2px;
			z-index: 100;
			h2 {
				font-size: 1.7em;
				font-weight: bold;
			}
			h3 {
				font-size: 1.4em;
				font-style: italic;
				margin-top: 2.5vh;
			}
			.border-container {
				width: 90px;
				border-bottom: 1px solid $accent-color;
				margin: 0 auto;
			}
		}
		.meet-us-1, .meet-us-2, .meet-us-3, .meet-us-4 {
			height: 370px;
			width: 276px;
			margin-top: 8vh;
			border-radius: 2px;
			.hover-overlay {
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				opacity: 0;
				height: 100%;
				width: 100%;
				padding-top: 40%;
				background-color: rgba(0, 0, 0, 0.5);
				font-family: $secondary-font;
				font-size: 1.2em;
				text-align: center;
				color: $secondary-font-color;
				font-weight: bold;
				transition: 0.2s ease-in;
				i {
					color: $accent-color;
				}
				&:hover {

				}
			}
		}
		.meet-us-1 {
			background-image: url('../img/woman-1.jpg');
			background-size: cover;
			&:hover {
				.hover-overlay {
					opacity: 1;
					-webkit-transition: all 0.2s ease-in-out;
    				-moz-transition: all 0.2s ease-in-out;
    				-o-transition: all 0.2s ease-in-out;
    				transition: all 0.2s ease-in-out;
					transition: 0.2s ease-in;
				}
			}
		}
		.meet-us-2 {
			background-image: url('../img/man-1.jpg');
			background-size: cover;
			&:hover {
				.hover-overlay {
					// visibility: visible;
					opacity: 1;
					-webkit-transition: all 0.2s ease-in-out;
    				-moz-transition: all 0.2s ease-in-out;
   					-o-transition: all 0.2s ease-in-out;
    				transition: all 0.2s ease-in-out;
					transition: 0.2s ease-in;
				}
			}
		}
		.meet-us-3 {
			background-image: url('../img/woman-2.jpg');
			background-size: cover;
			&:hover {
				.hover-overlay {
					// visibility: visible;
					opacity: 1;
					-webkit-transition: all 0.2s ease-in-out;
    				-moz-transition: all 0.2s ease-in-out;
    				-o-transition: all 0.2s ease-in-out;
    				transition: all 0.2s ease-in-out;
					transition: 0.2s ease-in;
				}
			}
		}
		.meet-us-4 {
			background-image: url('../img/man-2.jpg');
			background-size: cover;
			&:hover {
				.hover-overlay {
					// visibility: visible;
					opacity: 1;
					-webkit-transition: all 0.2s ease-in-out;
    				-moz-transition: all 0.2s ease-in-out;
    				-o-transition: all 0.2s ease-in-out;
    				transition: all 0.2s ease-in-out;
					transition: 0.2s ease-in;
				}
			}
		}
	}
}


// ************
// TESTIMONIALS
// ************

.testimonials {
	
	background: 
      -webkit-linear-gradient(rgba(37,59,88, 0.6), rgba(37,59,88, 0.6)),
      url("../img/testimonials-1.jpg");
  	background: 
      -o-linear-gradient(rgba(37,59,88, 0.6), rgba(37,59,88, 0.6)),
      url("../img/testimonials-1.jpg");
  	background: 
      linear-gradient(rgba(37,59,88, 0.6), rgba(37,59,88, 0.6)),
      url("../img/testimonials-1.jpg");
    background-size: cover;
   	background-repeat: no-repeat;
   	background-attachment: fixed;
   	padding: 9vh 0;
   	h1 {
   		font-family: $main-font;
   		color: $secondary-font-color;
		text-align: center;
		font-size: 3.2em;
   	}
   	.speech-row {
   		padding: 5vh 8vw 0 8vw;
   	}
   	.bubble-column {
   		padding-left: 3vw;
   		img {
   			width: 75px;
   			margin-left: 97px;
   			margin-top: -15px;
   			
   		}
   		h2, h4 {
			font-family: $secondary-font;
			font-size: 1.3em;
			float: right;
			text-align: left;
			margin-right: 130px;
			
   		}
   		h2 {
   			color: $secondary-font-color;
   			font-weight: bold;
   			margin-right: 165px;
   			margin-top: -3px;
   		}
   		h4 {
   			color: $accent-color;
   			margin-top: -32px;
   		}
   		.woman {
   			margin-right: 133px;
   		}
   	}
   	.speech-bubble {
		margin-top: 40px;
		color: $secondary-font-color;
		font-size: 1.2em;
		line-height: 1.5;
		padding: 30px 40px;
		position: relative;
  		width: 460px;
  		height: 270px;
  		text-align: left;
  		background: transparent;
  		border-left: 2px solid #fff;
  		border-top: 2px solid #fff;
  		border-right: 2px solid #fff;
  		-webkit-border-radius: 30px;
  		-moz-border-radius: 30px;
  		border-radius: 30px;
  		h3 {
  			font-family: $main-font;
  		}
  		p {
  			font-family: $secondary-font;
  			line-height: 25px;
  			padding-left: 40px;
  		}
  		span {
  			font-family: 'Coustard';
  			color: $accent-color;
  			font-size: 70px;
  		}
  		.open-quote {
  			position: absolute;
  			top: 60px;
  		}
  		.close-quote {
  			position: absolute;
  			bottom: 0;
  			right: 125px;
  		}
   	}
    .bottom-border-1 {
    	height: 270px;
    	width: 90px;
    	margin-top: -270px;
    	border-bottom: 2px solid #fff;
    	border-radius: 0 0 0 28px;
    }
    .bottom-border-2 {
    	height: 270px;
    	width: 280px;
    	margin-top: -270px;
		margin-left: 180px;
		border-bottom: 2px solid #fff;
		border-radius: 0 0 28px 0;
    }
    .triangle {
    	margin-left: 102px;
    	margin-top: -33px;
    	width: 65px;
    	height: 65px;
    	transform: rotate(45deg);
    	-webkit-transform: rotate(45deg);
    	-moz-transform: rotate(45deg);
    	-o-transform: rotate(45deg);
    	-ms-transform: rotate(45deg);
   		border-right: 2px solid #fff;
   		border-bottom: 2px solid #fff;
   		margin-bottom: 40px;
   	}
}


// ************
// BLOG SECTION
// ************

.blog {
	padding-top: 10vh;
	h1 {
		text-align: center;
		font-family: $main-font;
		color: $main-font-color;
		font-size: 3.5em;
	}
	.blog-row {
		padding: 10vh 5vw 20vh 5vw;
	}
	.card {
		border-radius: 3px;
		margin-bottom: 25px;
		img {
			width: 100%;
		}
		.card-block {
			border-left: 1px solid #d0d0d0;
			border-right: 1px solid #d0d0d0;
			border-bottom: 1px solid #d0d0d0;
			padding: 15px;
			.card-title {
				font-family: $main-font;
				color: $main-font-color;
				font-size: 1.4em;
				transition: 0.2s ease;
				&:hover {
					color: $accent-color;
					text-decoration: none;
					transition: 0.2s ease;
				}
			}
			p {
				font-family: $secondary-font;
				color: $main-font-color;
				padding: 5px;
			}
			button {
				background-color: $accent-color;
				border: 1px solid $accent-color;
				border-radius: 3px;
				font-size: 1.1em;
				font-family: $main-font;
				color: $secondary-font-color;
				transition: 0.2s ease;
			}
			button:hover {
				background-color: lighten($accent-color, 10%);
				border-color: lighten($accent-color, 10%);
				transition: 0.2s ease;
			}
		}
	}
}


// ******
// FOOTER
// ******

.footer {
	padding: 0 0 5vh 0;
	background-color: $main-color;
	.footer-row {
		padding: 10vh 5vw;
		.extra-space {
			height: 60px;
		}
		h1, h2 {
			font-family: $main-font;
			color: $secondary-font-color;
			span {
				font-family: 'Slabo 27px';
			}
		}
		p {
			font-family: $secondary-font;
			color: rgba(255, 255, 255, 0.3);
			line-height: 1.6;
			padding-top: 1vh;
			padding-right: 3vw;
		}
		.appointment {
			font-family: $secondary-font;
			color: $secondary-font-color;
			font-weight: bold;
			font-size: 1.2em;
			transition: 0.2s ease;
			i {
				color: $accent-color;
				font-weight: bold;
				transition: 0.2s ease;
			}
			&:hover {
				color: $accent-color;
				text-decoration: none;
				transition: 0.2s ease;
				i {
					margin-left: 10px;
					transition: 0.2s ease;
				}
			}
		}
	}
	.quick-links-column {
		ul {
			display: inline-block;
			list-style-type: none;
			li {
				padding: 15px;
				a {
					font-family: $secondary-font;
					color: $secondary-font-color;
					transition: 0.2s ease;
					font-size: 1.3em;
					i {
						color: $accent-color;
						font-weight: bold;
						transition: 0.2s ease;
					}
					&:hover {
						text-decoration: none;
						color: $accent-color;
						transition: 0.2s ease;
						i {
							margin-left: -10px;
							padding-right: 10px;
							transition: 0.2s ease;
						}
					}
				}
			}
		}
	}
	.contact-us-column {
		ul {
			list-style-type: none;
			font-family: $secondary-font;
			color: $secondary-font-color;
			font-size: 1.2em;
			li {
				padding: 15px 0;
				i {
					color: $accent-color;
					font-size: 1.4em;
					vertical-align: bottom;
					margin-right: 5px;
				}
			}
		}
	}
	.footer-bottom {
		padding: 0 5vw;
		hr {
			border: 1px solid rgba(255, 255, 255, 0.3);
			width: 100%;
		}
		h2 {
			font-family: $secondary-font;
			color: rgba(255, 255, 255, 0.3);
			font-size: 1em;
			float: left;
		}
		h3 {
			float: right;
			a {
				color: rgba(255, 255, 255, 0.3);
				padding: 0 5px;
			}
		}
	}
}


// *************
// MEDIA QUERIES
// *************

// BOOTSTRAP DEFAULT SMALL
@media only screen and (max-width: 768px) {
	

}


// BOOTSTRAP DEFAULT MEDIUM
@media only screen and (max-width: 1100px) {
	.testimonials {
		.speech-row {
			padding: 0;	
		}
	}    
}

// ***********************
// MY CUSTOM MEDIA QUERIES
// GROUPED BY SECTION AND
// WHAT THEY DO
// ***********************

// *********************
// WHY CHOOSE US SECTION
// *********************

@media only screen and (min-width: 1060px) and (max-width: 2600px) {
	.why-us {
		.why-us-content {
			.why-us-inner {
				padding-top: 40px;
			}
		}
	}
}


@media only screen and (min-width: 556px) and (max-width: 990px) {
	.why-us {
		.why-us-content {
			.why-us-inner {
				padding: 12px 30px 12px 0;
			}
		}
	}
}

@media only screen and (max-width: 555px) {
	.why-us {
		.why-us-content {
			.why-us-inner {
				padding: 10px;
				h1 {
					font-size: 2.4em;
				}
				.icon-ul {
					li {
						margin-top: 60px;
						margin-left: -40px;
					}
				}
				ul {
					li {
						margin-top: 10px;
						i {
							font-size: 3em;
						}
						h2 {
							font-size: 1.3em;
						}
					}
				}
				.button-row {
					button {
						padding: 12px;
						margin-top: 18px;
						font-size: 1.3em;
					}
				}
			}
		}
	}
}

// *******************************
// MEET OUR TALENTED STAFF SECTION
// *******************************

// *******************************
// CHANGES PADDING AROUND PICTURE
// AND NAME BOX DIVS - LARGEST
// TO SMALLEST SCREENS
// *******************************

@media only screen and (min-width: 2225px) and (max-width: 2500px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 16vw;
		}
	}
}

@media only screen and (min-width: 1840px) and (max-width: 2225px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 13.5vw;
		}
	}
}

@media only screen and (min-width: 1026px) and (max-width: 1199px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 19.5vw;
		}
	}
}

@media only screen and (min-width: 960px) and (max-width: 1025px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 17.5vw;
		}
	}
}

@media only screen and (min-width: 900px) and (max-width: 959px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 16.5vw;
		}
	}
}

@media only screen and (min-width: 850px) and (max-width: 899px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 15vw;
		}
	}
}

@media only screen and (min-width: 810px) and (max-width: 849px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 14vw;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 809px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 12.5vw;
		}
	}
}

@media only screen and (min-width: 715px) and (max-width: 767px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 31vw;
		}
	}
}

@media only screen and (min-width: 685px) and (max-width: 714px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 30vw;
		}
	}
}

@media only screen and (min-width: 630px) and (max-width: 684px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 29vw;
		}
	}
}

@media only screen and (min-width: 610px) and (max-width: 629px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 27vw;
		}
	}
}

@media only screen and (min-width: 575px) and (max-width: 609px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 24vw;
		}
	}
}

@media only screen and (min-width: 510px) and (max-width: 574px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 22vw;
		}
	}
}

@media only screen and (min-width: 476px) and (max-width: 509px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 20vw;
		}
	}
}

@media only screen and (min-width: 455px) and (max-width: 475px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 18vw;
		}
	}
}

@media only screen and (min-width: 430px) and (max-width: 454px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 16vw;
		}
	}
}

@media only screen and (min-width: 415px) and (max-width: 429px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 14vw;
		}
	}
}

@media only screen and (min-width: 390px) and (max-width: 414px) {
	.meet-us {
		.meet-us-content {
			padding: 0 10vw 0 12vw;
		}
	}
}



// ********************
// TESTIMONIALS SECTION
// ********************

// **********************************
// CHANGES MARGINS OF SPEECH BUBBLES
// LARGEST TO SMALLEST SCREENS
// **********************************

@media only screen and (min-width: 2101px) and (max-width: 3000px) {
	.speech-row {
		margin-left: 8vw;
	}
}

@media only screen and (min-width: 1801px) and (max-width: 2100px) {
	.speech-row {
		margin-left: 6vw;
	}
}

@media only screen and (min-width: 1651px) and (max-width: 1800px) {
	.speech-row {
		margin-left: 4.5vw;
	}
}

@media only screen and (min-width: 1370px) and (max-width: 1650px) {
	.speech-row {
		margin-left: 4vw;
	}
}

@media only screen and (min-width: 1110px) and (max-width: 1250px) {
	.speech-row {
		margin-left: 3vw;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1050px) {
	.speech-row {
		margin-left: -20px;
	}
}

@media only screen and (min-width: 941px) and (max-width: 991px) {
	.speech-row {
		margin-left: 5.5vw;
	}
}

@media only screen and (min-width: 790px) and (max-width: 940px) {
	.speech-row {
		margin-left: 4vw;
	}
}

@media only screen and (min-width: 605px) and (max-width: 684px) {
	.speech-row {
			margin-left: 10vw;
		}
}

@media only screen and (min-width: 516px) and (max-width: 605px) {
	.speech-row {
			margin-left: 5vw;
		}
}

@media only screen and (min-width: 100px) and (max-width: 515px) {
	.speech-row {
		margin-left: 15px;
	}
}


// *********************************
// CHANGES SIZE OF SPEECH BUBBLES,
// CAPTIONS (NAME AND TITLE),
// AND POSITION OF QUOTATIONS MARKS
// LARGEST TO SMALLEST SCREENS
// *********************************

@media only screen and (min-width: 2501px) {
	.testimonials {
		.speech-row {
			padding-left: 0;
			.bubble-column {
				h2 {
   					margin-right: 680px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 647px;
   				}
   				.h4-2 {
   					margin-right: 657px;
   				}
   				.woman {
   					margin-right: 660px;
   				}
   			}
   		}
   	}
}

@media only screen and (min-width: 2301px) and (max-width: 2500px) {
	.testimonials {
		.speech-row {
			padding-left: 0;
			.bubble-column {
				h2 {
   					margin-right: 600px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 567px;
   				}
   				.h4-2 {
   					margin-right: 577px;
   				}
   				.woman {
   					margin-right: 580px;
   				}
   			}
   		}
   	}
}

@media only screen and (min-width: 2101px) and (max-width: 2300px) {
	.testimonials {
		.speech-row {
			padding-left: 0;
			.bubble-column {
				h2 {
   					margin-right: 520px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 487px;
   				}
   				.h4-2 {
   					margin-right: 497px;
   				}
   				.woman {
   					margin-right: 500px;
   				}
   			}
   		}
   	}
}

@media only screen and (min-width: 1851px) and (max-width: 2100px) {
	.testimonials {
		.speech-row {
			padding-left: 0;
			.bubble-column {
				h2 {
   					margin-right: 440px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 407px;
   				}
   				.h4-2 {
   					margin-right: 417px;
   				}
   				.woman {
   					margin-right: 420px;
   				}
   			}
   		}
   	}
}

@media only screen and (min-width: 1615px) and (max-width: 1850px) {
	.testimonials {
		.speech-row {
			padding-left: 0;
			.bubble-column {
				h2 {
   					margin-right: 370px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 337px;
   				}
   				.h4-2 {
   					margin-right: 347px;
   				}
   				.woman {
   					margin-right: 350px;
   				}
   			}
   		}
   	}
}

@media only screen and (min-width: 1380px) and (max-width: 1615px) {
	.testimonials {
		.speech-row {
			padding-left: 0;
			.bubble-column {
				h2 {
   					margin-right: 270px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 237px;
   				}
   				.h4-2 {
   					margin-right: 247px;
   				}
   				.woman {
   					margin-right: 250px;
   				}
   			}
   		}
   	}
}

@media only screen and (min-width: 992px) and (max-width: 1250px) {
	.testimonials {
		.speech-row {
			padding-left: 0;
			.bubble-column {
				h2 {
   					margin-right: 150px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 116px;
   				}
   				.h4-2 {
   					margin-right: 122px;
   				}
   				.woman {
   					margin-right: 125px;
   				}
   			}
   		}
   	}
}

@media only screen and (min-width: 901px) and (max-width: 991px) {
	.testimonials {
		.speech-row {
			.bubble-column {
				h2 {
   					margin-right: 560px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 527px;
   				}
   				.h4-2 {
   					margin-right: 537px;
   				}
   				.woman {
   					margin-right: 540px;
   				}
   			}
   		}
   	}
}

@media only screen and (min-width: 866px) and (max-width: 900px) {
	.testimonials {
		.speech-row {
			.bubble-column {
				h2 {
   					margin-right: 520px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 487px;
   				}
   				.h4-2 {
   					margin-right: 497px;
   				}
   				.woman {
   					margin-right: 500px;
   				}
   			}
   		}
   	}
}

@media only screen and (min-width: 790px) and (max-width: 865px) {
	.testimonials {
		.speech-row {
			.bubble-column {
				h2 {
   					margin-right: 450px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 417px;
   				}
   				.h4-2 {
   					margin-right: 427px;
   				}
   				.woman {
   					margin-right: 430px;
   				}
   			}
   		}
   	}
}
 

@media only screen and (min-width: 790px) and (max-width: 991px) {
	.testimonials {
		.speech-row {
			.bubble-column {
				.speech-bubble {
					width: 700px;
					p {
						font-size: 1.2em;
					}
					.open-quote {
  						position: absolute;
  						top: 65px;
  					}
  					.close-quote {
  						position: absolute;
  						bottom: 25px;
  						right: 465px;
  					}
				}
				.bottom-border-2 {
					width: 520px;
				}
			}
		}
	}
}

@media only screen and (min-width: 685px) and (max-width: 789px) {
	.testimonials {
		.speech-row {
			padding: 0 5vw;
			.speech-bubble {
				width: 600px;
				.open-quote {
  					position: absolute;
  					top: 65px;
  				}
  				.close-quote {
  					position: absolute;
  					bottom: 25px;
  					right: 385px;
  				}
			}
			.bottom-border-2 {
				width: 420px;
			}
		}
	}
}

@media only screen and (min-width: 746px) and (max-width: 789px) {
	.testimonials {
		.speech-row {
			.bubble-column {
				h2 {
   					margin-right: 360px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 325px;
   				}
   				.h4-2 {
   					margin-right: 336px;
   				}
   				.woman {
   					margin-right: 340px;
   				} 
   			}
   		}
   	}
}

@media only screen and (min-width: 665px) and (max-width: 745px) {
	.testimonials {
		.speech-row {
			.bubble-column {
				h2 {
   					margin-right: 280px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 245px;
   				}
   				.h4-2 {
   					margin-right: 256px;
   				}
   				.woman {
   					margin-right: 260px;
   				} 
   			}
   		}
   	}
}

@media only screen and (min-width: 581px) and (max-width: 664px) {
	.testimonials {
		.speech-row {
			.bubble-column {
				h2 {
   					margin-right: 248px;
   				}
   				.h4-1 {
   					margin-right: 215px;
   				}
   				.h4-2 {
   					margin-right: 226px;
   				}
   				.woman {
   					margin-right: 230px;
   				} 
   			}
   		}
   	}
}

@media only screen and (min-width: 516px) and (max-width: 580px) {
	.testimonials {
		.speech-row {
			.bubble-column {
				h2 {
   					margin-right: 193px;
   				}
   				.h4-1 {
   					margin-right: 161px;
   				}
   				.h4-2 {
   					margin-right: 162px;
   				}
   				.woman {
   					margin-right: 166px;
   				} 
   			}
   		}
   	}
}

@media only screen and (min-width: 444px) and (max-width: 515px) {
	.testimonials {
			.bubble-column {
				h2 {
   					margin-right: 100px;
   				}
   				h4 {
   					margin-top: -36px;
   				}
   				.h4-1 {
   					margin-right: 67px;
   				}
   				.h4-2 {
   					margin-right: 78px;
   				}
   				.woman {
   					margin-right: 80px;
   				}
				.speech-bubble {
					width: 400px;
					.open-quote {
  						position: absolute;
  						top: 65px;
  					}
  					.close-quote {
  						position: absolute;
  						bottom: -25px;
  						right: 112px;
  					}
				}
				.bottom-border-2 {
					width: 220px;
				}
			}
		}	
}

@media only screen and (min-width: 100px) and (max-width: 443px) {
	.testimonials {
		.bubble-column {
   			h2 {
   				margin-right: 60px;
   			}
   			h4 {
   				margin-top: -36px;
   				margin-right: 28px;
   			}
   			.woman {
   				margin-right: 30px;
   			}
   			.speech-bubble {
				width: 350px;
				font-size: 1.1em;
				padding: 20px;
  				.open-quote {
  					position: absolute;
  					top: 55px;
  				}
  				.close-quote {
  					position: absolute;
					bottom: -15px;
  					right: 90px;
  				}
			}
			.bottom-border-2 {
				width: 170px;
			}
		}
	}
}




