// *****
// CARDS
// *****

.card-row {
	text-align: center;
	padding: 10vh 0 0 0;
	margin-left: 6vw;
	margin-right: 5vw;
	h1 {
		font-family: $main-font;
		color: $main-font-color;
		font-size: 3.2em;
	}
	.card {
		width: 25vw;
		padding: 26px 35px;
		border: 1px solid #d0d0d0;
		border-radius: 3px;
		.card-upper {
			margin-top: 24px;
			transition: 0.4s ease;
			i {
				font-size: 4em;
				color: $accent-color;
			}
			.card-title {
				font-family: $main-font;
				color: $main-font-color;
				font-size: 1.8em;
			}
		}
		.border-container {
			width: 50px;
			border-bottom: 2px solid $accent-color;
			margin: 0 auto;
			transition: 0.4s ease;
		}
		.card-text {
			font-family: $secondary-font;
			color: $main-font-color;
			font-size: 1.2em;
			padding-top: 2.5vh;
		}
	}
	.card:hover {
		.card-upper {
			margin-top: 12px;
			margin-bottom: 22px;
			transition: 0.4s ease;
		}
		.border-container {
			width: 200px;
			transition: 0.4s ease;
		}

	}
}


// **********
// WHY US BOX 
// **********

.why-us {
	height: 95vh;
	margin-top: 10vh;
	background-color: lighten($main-color, 70%);
	.why-us-content {
		height: 85vh;
		margin-top: 5vh;
		padding-top: 2.5%;
		background-color: $main-color;
		border-radius: 3px;
		.why-us-inner {
			height: 94%;
			width: 95%;
			border: 1px solid rgba(255, 255, 255, 0.2);
			border-radius: 3px;
			margin: 0 auto;
			h1 {
				text-align: center;
				font-family: $main-font;
				color: $secondary-font-color;
				font-size: 3.5em;
			}
			.icon-ul {
				text-align: right;
				li {
					margin-top: 7vh;
				}
			}
			ul {
				list-style-type: none;
				padding: 0;
				li {
					margin-top: 5vh;
					i {
						color: $accent-color;
						font-size: 3.7em;
					}
					h2 {
						font-family: $main-font;
						color: $secondary-font-color;
						font-size: 1.5em;
					}
					p {
						font-family: $secondary-font;
						color: rgba(255, 255, 255, 0.5);
					}
				}
			}
			.button-row {
				text-align: center;
					button {
						font-family: $main-font;
						color: $secondary-font-color;
						background-color: $accent-color;
						border: 1px solid $accent-color;
						border-radius: 3px;
						padding: 15px;
						margin-top: 2.5vh;
						font-size: 1.5em;
						transition: 0.2s ease;
					}
					button:hover {
						background-color: lighten($accent-color, 10%);
						border-color: lighten($accent-color, 10%);
						transition: 0.2s ease;
					}
				}
			}
		}
	}


// ***********************
// MEET OUR TALENTED STAFF
// ***********************

.meet-us {
	height: 85vh;
	.meet-us-title {
		text-align: center;
		padding-top: 5vh;
		h1 {
			font-family: $main-font;
			color: $main-font-color;
		}

	}
	.meet-us-content {
		padding: 0 8.1vw;
		.name-box {
			position: relative;
			text-align: center;
			font-family: $secondary-font;
			color: $secondary-font-color;
			height: 18vh;
			width: 15vw;
			background-color: $main-color;
			margin-top: -14vh;
			margin-left: 3vw;
			padding: 1vh 1vw;
			border-radius: 2px;
			z-index: 100;
			h2 {
				font-size: 1.7em;
				font-weight: bold;
			}
			h3 {
				font-size: 1.4em;
				font-style: italic;
				margin-top: 2.5vh;
			}
			.border-container {
				width: 10vw;
				border-bottom: 1px solid $accent-color;
				margin: 0 auto;
			}
		}
		.meet-us-1, .meet-us-2, .meet-us-3, .meet-us-4 {
			height: 45vh;
			width: 18vw;
			margin: 8vh 20px 0 20px;
			border-radius: 2px;
			.hover-overlay {
				// visibility: hidden;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				opacity: 0;
				height: 100%;
				width: 100%;
				padding-top: 40%;
				background-color: rgba(0, 0, 0, 0.5);
				font-family: $secondary-font;
				font-size: 1.2em;
				text-align: center;
				color: $secondary-font-color;
				font-weight: bold;
				transition: 0.2s ease-in;
				i {
					color: $accent-color;
				}
				&:hover {

				}
			}
		}
		.meet-us-1 {
			background-image: url('../img/woman-1.jpg');
			background-size: cover;
			&:hover {
				.hover-overlay {
					// visibility: visible;
					opacity: 1;
					-webkit-transition: all 0.2s ease-in-out;
    				-moz-transition: all 0.2s ease-in-out;
    				-o-transition: all 0.2s ease-in-out;
    				transition: all 0.2s ease-in-out;
					transition: 0.2s ease-in;
				}
			}
		}
		.meet-us-2 {
			background-image: url('../img/man-1.jpg');
			background-size: cover;
			&:hover {
				.hover-overlay {
					// visibility: visible;
					opacity: 1;
					-webkit-transition: all 0.2s ease-in-out;
    				-moz-transition: all 0.2s ease-in-out;
   					-o-transition: all 0.2s ease-in-out;
    				transition: all 0.2s ease-in-out;
					transition: 0.2s ease-in;
				}
			}
		}
		.meet-us-3 {
			background-image: url('../img/woman-2.jpg');
			background-size: cover;
			&:hover {
				.hover-overlay {
					// visibility: visible;
					opacity: 1;
					-webkit-transition: all 0.2s ease-in-out;
    				-moz-transition: all 0.2s ease-in-out;
    				-o-transition: all 0.2s ease-in-out;
    				transition: all 0.2s ease-in-out;
					transition: 0.2s ease-in;
				}
			}
		}
		.meet-us-4 {
			background-image: url('../img/man-2.jpg');
			background-size: cover;
			&:hover {
				.hover-overlay {
					// visibility: visible;
					opacity: 1;
					-webkit-transition: all 0.2s ease-in-out;
    				-moz-transition: all 0.2s ease-in-out;
    				-o-transition: all 0.2s ease-in-out;
    				transition: all 0.2s ease-in-out;
					transition: 0.2s ease-in;
				}
			}
		}
	}
}


// ************
// TESTIMONIALS
// ************

.testimonials {
	height: 110vh;
	background: 
      -webkit-linear-gradient(rgba(37,59,88, 0.6), rgba(37,59,88, 0.6)),
      url("../img/testimonials-1.jpg");
  	background: 
      -o-linear-gradient(rgba(37,59,88, 0.6), rgba(37,59,88, 0.6)),
      url("../img/testimonials-1.jpg");
  	background: 
      linear-gradient(rgba(37,59,88, 0.6), rgba(37,59,88, 0.6)),
      url("../img/testimonials-1.jpg");
    background-size: cover;
   	background-repeat: no-repeat;
   	background-attachment: fixed;
   	padding-top: 9vh;
   	h1 {
   		font-family: $main-font;
   		color: $secondary-font-color;
		text-align: center;
		font-size: 3.5em;
   	}
   	.speech-row {
   		padding: 15vh 8vw 0 8vw;
   	}
   	.bubble-column {
   		padding-left: 3vw;
   	}
   	.speech-bubble {
		color: $secondary-font-color;
		font-size: 1.2em;
		line-height: 1.5;
		padding: 30px 40px;
		position: relative;
  		width: 460px;
  		height: 270px;
  		text-align: left;
  		background: transparent;
  		border-left: 2px solid #fff;
  		border-top: 2px solid #fff;
  		border-right: 2px solid #fff;
  		-webkit-border-radius: 30px;
  		-moz-border-radius: 30px;
  		border-radius: 30px;
  		h3 {
  			font-family: $main-font;
  		}
  		p {
  			font-family: $secondary-font;
  			line-height: 25px;
  			padding-left: 40px;
  		}
  		span {
  			font-family: 'Coustard';
  			color: $accent-color;
  			font-size: 70px;
  		}
  		.open-quote {
  			position: absolute;
  			top: 60px;
  		}
  		.close-quote {
  			position: absolute;
  			bottom: 0;
  			right: 125px;
  		}
   	}
    .bottom-border-1 {
    	height: 270px;
    	width: 90px;
    	margin-top: -270px;
    	border-bottom: 2px solid #fff;
    	border-radius: 0 0 0 28px;
    }
    .bottom-border-2 {
    	height: 270px;
    	width: 280px;
    	margin-top: -270px;
		margin-left: 180px;
		border-bottom: 2px solid #fff;
		border-radius: 0 0 28px 0;
    }
    .triangle {
    	margin-left: 102px;
    	margin-top: -33px;
    	width: 65px;
    	height: 65px;
    	transform: rotate(45deg);
    	-webkit-transform: rotate(45deg);
    	-moz-transform: rotate(45deg);
    	-o-transform: rotate(45deg);
    	-ms-transform: rotate(45deg);
   		border-right: 2px solid #fff;
   		border-bottom: 2px solid #fff;
   	}
   	.client-row {
   		padding-top: 4vh;
		img {
   			width: 75px;
   		}
   		.man {
			margin-left: 234px;
   		}
   		.woman {
   			margin-left: 124px;
   		}
   		h2, h3 {
			font-family: $secondary-font;
			font-size: 1.3em;
			line-height: 0.5;
   		}
   		h2 {
   			color: $secondary-font-color;
   			font-weight: bold;
   		}
   		h3 {
   			color: $accent-color;
   		}
   		.chris {
   			position: absolute;
   			top: -2px;
   			right: 220px;
   		}
   		.michelle {
   			position: absolute;
   			top: -2px;
   			right: 340px;
   		}
   	}
}



