// ********
// BLUE NAV
// ********

.nav-1 {
	background-color: $main-color;
	height: 45px;
	padding-top: 10px;
	ul {
		list-style-type: none;
		display: inline-flex;
	}
	.nav-1-left {
		.li-1 {
			padding-left: 2vw;
			i {
				padding-top: 3px;
				color: $accent-color;
				font-size: 1.3em;
			}
		}
		.li-2 {
			padding-left: 0.5vw;
			p {
				font-family: $secondary-font;
				color: $secondary-font-color;
				padding-top: 3px;
			}
		}
	}
	.nav-1-right {
		float: right;
		padding-right: 4vw;
		li {
			padding-right: 1vw;
			a {
				font-size: 1.3em;
				color: $secondary-font-color;
			}
		}
	}
}


// *********
// WHITE NAV 
// *********

.nav-2 {
	background-color: $secondary-color;
	height: 90px;
	ul {
		list-style-type: none;
		display: inline-flex;
	}
	.nav-2-left {
		padding: 2px 0 0 60px;
		li {
			font-family: $main-font;
			font-size: 3.5em;
			color: $main-font-color;
			a {
				color: $main-font-color;
			}
			span {
				font-family: 'Slabo 27px';
			}
		}
	}
	.nav-2-right {
		float: right;
		padding: 22px 4.5vw 0 0;
		li {
			padding-left: 3vw;
			a {
				font-size: 1.5em;
				font-family: $secondary-font;
				color: $main-font-color;
			}
			a:hover {
				text-decoration: none;
				color: $accent-color;
				transition: 0.2s ease;
			}
		}
	}
}


// *************
// MEDIA QUERIES
// *************

@media only screen and (max-width: 1050px) {
	.nav-1 {
		display: none;
	}
	.nav-2 {
		.nav-2-left {
			display: none;
		}
		.nav-2-right {
			float: left;
		}
	}
}

@media only screen and (max-width: 715px) {
	.nav-1 {
		display: none;
	}
	.nav-2 {
		height: 75px;
		.nav-2-left {
			display: none;
		}
		.nav-2-right {
			float: left;
			padding-top: 22px;
			li {
				font-size: 0.9em;
			}
		}
	}
}

@media only screen and (max-width: 535px) {
	.nav-1 {
		display: none;
	}
	.nav-2 {
		height: 65px;
		opacity: 0.9;
		position: fixed;
		width: 100%;
		z-index: 200;
		.nav-2-left {
			display: none;
		}
		.nav-2-right {
			float: left;
			padding: 22px 0 0 15px;
			margin-left: -25px;
			li {
				font-size: 0.75em;
				color: $main-font-color;
				i {
					display: none;
				}
			}
		}
	}
}

@media only screen and (max-width: 375px) {
	.nav-1 {
		display: none;
	}
	.nav-2 {
		height: 65px;
		opacity: 0.9;
		position: fixed;
		width: 100%;
		z-index: 200;
		.nav-2-left {
			display: none;
		}
		.nav-2-right {
			float: left;
			padding: 22px 0 0 15px;
			margin-left: -25px;
			li {
				font-size: 0.6em;
				color: $main-font-color;
				i {
					display: none;
				}
			}
		}
	}
}

